<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Blog made with Node, Express & Mong</title>
  </head>
  <body>
    <h1>
      <a href="/">Blog made with Node, Express & Node</a>
    </h1>
  </body>
</html>
